.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-custom-html-1 {
  min-height: 325px;
  margin: 0 876px 0 0;
}

.u-section-1 .u-custom-html-2 {
  min-height: 325px;
  margin: -325px 511px 60px 365px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-right: 676px;
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
    margin-right: 411px;
    margin-left: 265px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 456px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 301px;
    margin-left: 155px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 276px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 211px;
    margin-left: 65px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 76px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 76px;
    margin-left: 0;
  }
}